<button class="btn btn-primary" @onclick="OnClick" disabled="@isRunning">
    @if (isRunning)
    {
        <div class="spinner-border" role="status"></div>
    }
    else
    {
        @if (Icon != null)
        {
            <Icon Name="@Icon" />
        }
    }
    @ChildContent
</button>

@code {
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter] public string? Icon { get; set; }
    [Parameter, EditorRequired] public EventCallback Action { get; set; }
    bool isRunning = false;

    async void OnClick()
    {
        isRunning = true;
        StateHasChanged();
        try
        {
            await Action.InvokeAsync();
        }
        finally
        {
            isRunning = false;
            StateHasChanged();
        }
    }
}
