<div href="#" class="nav-link d-flex lh-1 text-reset p-0">
    <span class="avatar avatar-sm">
        <Icon Name="user" />
    </span>
    <div class="d-none d-xl-block ps-2">
        <div>Administrator</div>
        <div class="mt-1 small text-muted">Admin</div>
    </div>
</div>
